

.card:first-child{
    margin-right:30px !important;
}

.card:nth-child(2n+3) {
    margin-right:30px !important;
}

.fp_img{
    height: 160px;

    img[src=""] {
        display: none;
    }
}

.gridImg{
    height: 81%;
    position: absolute;
    width: 93px;
    background:transparent;
}

.markerName{
    position: absolute;
}

#emptydiv{
    margin-top:'31px';
}